h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

button {
  cursor: pointer;
}

ul {
  max-width: 500px;
  margin: auto;
}